@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));


body {
    font-family: "Inter", sans-serif;
    scroll-behavior: smooth;
    transition: background-color 0.4s ease, color 0.4s ease;
}



.card-glow {
    box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.1),
        0 0 20px 0 rgba(0, 0, 0, 0.05);
}

.dark .card-glow {
    box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.4),
        0 0 20px 0 rgba(0, 0, 0, 0.2);
}